* {
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header a{
    font-size: 20px;
    text-decoration: none;
}
.question{
    text-align: center;
}
.option-list{
    list-style: none;
    display: table;
    margin: 0 auto;
    padding: 0;
}
.question-result{
    text-align: center;
}
.choices{
    outline: none;
    border: none;
    display: inline-block;
    color: #fff;
    background-color: #3f285b;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px #333;
    margin: 5px 5px 5px 5px;
}
.choices:hover{
    opacity: .75;
}
